* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 380px;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

p {
  font-size: 1em;
}

.invisible {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 380px;
  height: 50px;
  padding: 12px 24px;
}
.navbar .navbar-logo h3 {
  color: #7C6A0A;
}
.navbar .navbar-icon button {
  border: none;
  background-color: transparent;
}

.main {
  width: 100%;
  min-width: 420px;
  padding: 12px 24px;
  color: #7C6A0A;
}
.main .main-primary {
  min-width: 380px;
  height: auto;
  margin: 60px 0;
}
.main .main-primary figure {
  width: 380px;
  height: 400px;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: 2px 14px 32px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 2px 14px 32px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 2px 14px 32px 1px rgba(0, 0, 0, 0.7);
}
.main .main-primary figure img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  max-width: 380px;
}
.main .main-primary figure img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
.main .main-primary .main-primary-info {
  margin: 0 auto;
  padding: 12px 24px;
  font-size: 1.2rem;
}
.main .main-primary .main-primary-info h1 {
  margin: 12px 0;
}
.main .main-primary .main-primary-info p {
  max-width: 720px;
  margin: auto;
  padding: 12px 0;
  text-align: justify;
  line-height: 1.5;
}
.main .main-primary .main-primary-info button {
  margin: 12px 0px 24px 0px;
  color: #FFEFE7;
  background: #FA9500;
  min-width: 36vw;
  padding: 0 12px;
  height: 48px;
  border: none;
  border-radius: 35px;
  font-size: 1.2rem;
  font-weight: bold;
}
.main .main-primary .main-primary-info button:hover {
  cursor: pointer;
  background-color: #BABD8D;
}

.healthcare .card-section, .furniture .card-section {
  width: 100%;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
}
.healthcare .card-section .product-card, .furniture .card-section .product-card {
  width: 280px;
  height: auto;
  background-color: #FFDAC6;
  border-radius: 8px;
  box-shadow: 8px 10px 30px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 8px 10px 30px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 10px 30px -6px rgba(0, 0, 0, 0.75);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.healthcare .card-section .product-card:hover, .furniture .card-section .product-card:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  cursor: pointer;
}
.healthcare .card-section .product-card .svg, .furniture .card-section .product-card .svg {
  position: absolute;
  top: 4px;
  right: 8px;
}
.healthcare .card-section .product-card .product-image, .furniture .card-section .product-card .product-image {
  width: 192px;
  height: 260px;
  margin-top: 32px;
}
.healthcare .card-section .product-card .product-image img, .furniture .card-section .product-card .product-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -o-object-fit: fill;
     object-fit: fill;
}
.healthcare .card-section .product-card .product-info, .furniture .card-section .product-card .product-info {
  width: 260px;
  padding: 24px 12px;
}

.furniture .card-section .product-card {
  background-color: #BABD8D;
  color: #FFEFE7;
}

.mision-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
  margin: 72px 72px;
  color: #FA9500;
}

.earth, .innovation {
  max-width: 280px;
}

.gallery .container-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 72px auto;
}
.gallery .container-image .image {
  width: 380px;
  height: 400px;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: 2px 14px 32px 1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 2px 14px 32px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 2px 14px 32px 1px rgba(0, 0, 0, 0.7);
}
.gallery .container-image .image:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  cursor: pointer;
}
.gallery .container-image .image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  max-width: 380px;
}

.location .map {
  width: 100%;
  margin: 24px auto;
  text-align: center;
}
.location .map img {
  width: 90%;
  margin: 0 auto;
}
.location h3, .location p {
  color: #FA9500;
}

.footer {
  background: #FA9500;
  width: 100%;
  height: 108px;
  color: #FFEFE7;
  padding: 24px;
}
.footer .info {
  margin-bottom: 48px;
  line-height: 1.5;
}
.footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 24px;
}
.footer .social-media img {
  width: 32px;
}
.footer .social-media img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
  cursor: pointer;
}

@media (min-width: 620px) {
  .product-section .healthcare .card-section,
  .product-section .furniture .card-section {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-us .mision-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .gallery .container-image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 860px) {
  .navbar-icon-menu {
    display: none;
  }
  .invisible {
    display: flex;
  }
  .navbar-icon-items img {
    margin-right: 12px;
  }
  .main-primary {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .main-primary-info p {
    max-width: 680px;
  }
  .about-us .mision-section .earth, .innovation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 580px;
  }
  .gallery .container-image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */